.background {
    z-index: 1;
    position: absolute;
    width: 500px;
    height: 500px;
    left: -5px;
    top: -27px;
    height: 500px;
    background-image: url(../../assets/1563214703920.png);
    background-attachment: fixed;
    background-size: contain;
}