<app-message-modal *ngIf="messageVision" (hide)="hideMessage()"></app-message-modal>
<div class="notification" *ngIf="isNotified && notClosed">
    <img src="../../assets/white-close-icon-png-3.png" alt="" (click)="notClosed = false">
    <p>{{notification[notificationId]}}</p>
</div>
<app-background></app-background>
<div class="selection-block" appColors [backColor]="colorPick" [fontColor]="fontColor">
    <div class="content">
        <p>Choose a <strong>{{selectionTitle}}</strong> from the options:</p>
        <div class="paragraph" (click)="selectOption(0)">
            <span class="circuit">
                <span class="circle" *ngIf="circles[0]"></span>
            </span>
            <span class="selector">{{paragraph[0]}}</span>
        </div>
        <div class="paragraph" (click)="selectOption(1)">
            <span class="circuit">
                <span class="circle" *ngIf="circles[1]"></span>
            </span>
            <span class="selector">{{paragraph[1]}}</span>
        </div>
        <div class="paragraph" (click)="selectOption(2)">
            <span class="circuit">
                <span class="circle" *ngIf="circles[2]"></span>
            </span>
            <span class="selector">{{paragraph[2]}}</span>
        </div>
        <div class="navigation" [ngClass]="{'nav-space-beetween': backBut}">
            <button class="back" *ngIf="backBut" (click)="backButton()"
                [ngClass]="{'btn-color': colorPick !== '#FFF9F9'}">Back</button>
            <button class="next" (click)="nextButton()" [ngClass]="{'btn-color': colorPick !== '#FFF9F9'}">Next</button>
        </div>
    </div>
</div>